name: Test

on:
  workflow_dispatch:
  push:
    branches:
      - '*'

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: install
        run: pnpm install
      - name: transpile
        run: pnpm build
      - name: test
        run: pnpm test
